{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <title>URL memo</title>
        <link href="https://use.fontawesome.com/releases/v6.1.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-touch-icon.png'%}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png'%}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png'%}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'icon/android-chrome-192x192.png'%}">
        <link rel="icon" type="image/png" sizes="256x256"  href="{% static 'icon/android-chrome-256x256.png'%}">
        <link rel="manifest" href="{% static 'icon/site.webmanifest'%}">
        <link rel="mask-icon" href="{% static 'icon/safari-pinned-tab.svg'%}" color="#48c78e">
        <meta name="apple-mobile-web-app-title" content="URL memo">
        <meta name="application-name" content="URL memo">
        <meta name="msapplication-TileColor" content="#48c78e">
        <meta name="theme-color" content="#ffffff">

    </head>
    <body>
        <div class="my_wrapper">
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <section class="hero is-success">
            <div class="hero-body">
                <div id="navMenu" class="navbar-menu my_navbar_menu">
                    <div class="navbar-start">
                        <a href="{% url 'index' %}" class="title my_tytle">
                            URL memo
                        </a>
                        <a class="navbar-item" href="{% url 'frontpage'%}">
                            Home
                        </a>
                        <a class="navbar-item" href="{% url 'contact' %}">
                            Contact
                        </a>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-success" href="{% url 'account' %}"> {{user.username}}</p>
                            <a class="button is-dark" href="{% url 'logout' %}">Logout</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </section>
        
        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>
          
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            $(function () {
              $('.js-open').click(function () {
                  $('#overlay, .modal-window').fadeIn();
              });
              $('.js-close').click(function () {
                  $('#overlay, .modal-window').fadeOut();
              });
              });
        </script>
        </div>
        <footer class="my_footer has-background-success">
            <div class="content has-text-centered my_footer_div">
                <div>
                    <p class="copyright">&copy; 2022 Ishii All Rights Reserved </p>
                </div>
            </div>
        </footer>
    </body>
</html>