{% extends "./base.html" %}
{% load widget_tweaks %}
{% block content %}

<h2 class="title is-2">Contact</h2>
<div class="my_contact_wrapper">
<form action="{% url 'contact' %}" method="post">
    {% csrf_token %}
    <div class="field">
        <label class="label">Subject</label>
        <div class="control">
        {{form.subject|add_class:"input"}}
        </div>
    </div>
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
        {{form.sender|add_class:"input"}}
        </div>
    </div>
    <div class="field">
        <label class="label">Message</label>
        <div class="control">
        {{form.message|add_class:"textarea"}}
        </div>
    </div>
    <br>

    <div class="buttons">
        <button class="button is-primary" type="submit">Send</button>
        <a class="button is-link is-light" href="{% url 'frontpage' %}">Back</a>
    </div>
</form>
</div>
{% endblock %}