{% extends "./base.html" %}
{% load widget_tweaks %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    <div class="notification">
        <p>{{ directory.title }}を削除しますか？</p>
    </div>
    
    <div class="field is-grouped">
        <div class="control">
        <div class="buttons">
            <button class="button is-dark" type="submit">Delete</button>
            <a class="button is-success" href="{% url 'frontpage'%}"> Back </a>
        </div>
        </div>
    </div>
</form>
{% endblock %}