<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL memo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
      <nav class="navbar">
        <div class="container">
          <div id="navMenu my_navMenu" class="navbar-menu">
            <!-- <div class="navbar-start">
              <a href="frontpage" class="navbar-item">
                Home
              </a>
              <a class="navbar-item">
                Notify
              </a>
            </div> -->
      
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  {% if request.user.is_authenticated%}
                    <a class="button is-success" href="{% url 'frontpage' %}">Home</a>
                    <a class="button is-dark" href="{% url 'logout' %}">Logout</a>                    
                  {% else %} 
                    <a class="button is-success" href="{% url 'login' %}">Login</a>
                    <a class="button is-success" href="{% url 'signup' %}">SignUp</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      
      <section class="hero is-success is-fullheight-with-navbar">
        <div class="hero-body">
          <p class="title">
            URL memo
          </p>
        </div>
      </section>
</body>
</html>