{% extends "./base.html" %}
{% load widget_tweaks %}
{% block content %}
<section class="section">
<h2 class="title">{{post.title}}</h2>

<div class="my_directory_wrapper">
    <div>
        <p>{{post.body}}</p>
        <small>作成日時： {{post.posted_date}}</small>
    </div>
    <div>
        <button class="js-open button is-primary">touch</button>
    </div>
</div>

<hr/>
<!-- コメントを表示 -->

{% for document in post.documents.all %}
<div class="box">
<article class="media">
    <div class="media-content">
        <div class="content">
                <div class="my_document_wrapper">
                    <strong>
                        <h4>{{document.title}}</h4>
                    </strong>
                    <div>
                        <small>{{document.posted_date}}</small>
                    </div>
                </div>
                {% if document.url %}
                <div>
                    <a href="{{document.url}}" target="_blank" rel="noopener noreferrer" class="my_url">{{document.url}}</a>
                </div>
                <br />
                {% endif %}
                <p>{{document.comment | linebreaksbr}}</p>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-success" href="{% url 'document_update' post.id document.pk%}">Update</a>
                            <a class="button is-dark" href="{% url 'document_delete' post.id document.pk%}">Delete</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</article>
</div>
<hr />
{% empty %}
<div class="notification">
    <p>ドキュメントはまだありません</p>
</div>
{% endfor %}

<!-- コメント投稿エリア -->



<!-- オーバーレイ -->
<div id="overlay" class="overlay"></div>
<!-- モーダルウィンドウ -->
<div class="modal-window box">
    <form method="POST">
        {% csrf_token %}
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
            {{form.title|add_class:"input"}}
            </div>
        </div>

        <div class="field">
            <label class="label">URL</label>
            <div class="control">
            {{form.url|add_class:"input"}}
            </div>
        </div>
        
        <div class="field">
            <label class="label">Comment</label>
            <div class="control">
            {{form.comment|add_class:"textarea"}}
            </div>
        </div>
        
        <div class="field is-grouped">
            <div class="control">
            <button class="button is-link" type="submit">Submit</button>
            </div>
            <div class="control">
            <button class="button is-link is-light js-close">Cancel</button>
            </div>
        </div>
    </form>
</div>

</section>
{% endblock %}