{% extends "./base.html" %}
{% block content %}
 {% if AccountCreate %}
   <h1>登録完了!</h1>
   <br />
   <div class="control">
    <button class="button is-primary">Submit</button>
  </div>

 {% else %}
    <div class="reg">
    <table class="reg_form">
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ account_form.as_table }}
        {{ add_account_form.as_table }}
        <tr><td></td><td>
        <div class="control">
            <input class="button is-primary" type="submit" name="" value="登録">
        </div>
        </td></tr>
    </form>
    </table>
    </div>
{% endif %}
{% endblock %}