{% extends "./base.html" %}
{% load widget_tweaks %}
{% block content %}
{% csrf_token %}

<div class="my_account_table">
<article class="panel is-success">
    <p class="panel-heading">
      User
    </p>
    <p class="my_panel_block">
      <span class="panel-icon">
      </span>
      username : {{user.username}}
    </p>
    <p class="my_panel_block">
        <span class="panel-icon">
        </span>
        email : {{user.email}}
    </p>
</article>

<div class="buttons">
    <a class="button is-success" href="{% url 'change'%}"> Update </a>
    <a class="button is-dark" href="{% url 'account_delete' user.username %}">Delete</a>
</div>
</div>


{% endblock %}