{% extends "./login_base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
    <form method="post">
        {% csrf_token %}
        {{form.non_field_errors}}
        <div class="my_account_field">
            <div class="field">
              <label class="label">UserName</label>
              <div class="control">
              {{form.username|add_class:"input"}}
              </div>
            </div>
            <div class="field">
                <label class="label">Email(optional)</label>
                <div class="control">
                {{form.email|add_class:"input"}}
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                {{form.password1|add_class:"input"}}
                </div>
            </div>
            <div class="field">
                <label class="label">Password(Check)</label>
                <div class="control">
                {{form.password2|add_class:"input"}}
                </div>
            </div>
      
        <button class="button is-primary" type="submit">SignUp</button>
        </div>
    </form>
</div>
{% endblock %}